.App {
    text-align: center;
}
.previewCircle{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: auto;

}    
.cardWrapper{
    display: flex;
}
.card{
    margin: auto;
}
.swatch-creator-wrapper {
    display: flex;
}

.swatchDisplayCard {
    width: 200px;
    margin:auto;
}