.App {
    text-align: center;
}
.card{
    background-color: lightsalmon;
    height: 300px;
    width: 200px;
    border: midnightblue solid 2px;
    margin: 5px;
   

}

.previewCircle{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: auto;

}    
